@import '../styles/intellij-prism.css';
@import '../styles/prose.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- colors --- */
@layer base {
  :root {
    --gray-50: #ffffff;
    --gray-75: #fdfdfd;
    --gray-100: #f8f8f8;
    --gray-200: #e6e6e6;
    --gray-300: #d5d5d5;
    --gray-400: #b1b1b1;
    --gray-500: #909090;
    --gray-600: #6d6d6d;
    --gray-650: #5a5a5a;
    --gray-700: #464646;
    --gray-800: #222222;
    --gray-900: #000000;
    --gray-950: #000000;

    --selection: hsla(0, 0%, 0%, 0.045);
    --border: hsla(0, 0%, 0%, 0.09);
    --spinner-color: rgba(0, 0, 0, 65);

    --page-background: var(--gray-50);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-650);
    --text-disabled: var(--gray-500);
  }

  .dark {
    --gray-50: #ffffff;
    --gray-75: #fdfdfd;
    --gray-100: #f8f8f8;
    --gray-200: #e6e6e6;
    --gray-300: #d5d5d5;
    --gray-400: #b1b1b1;
    --gray-500: #909090;
    --gray-600: #6d6d6d;
    --gray-700: #464646;
    --gray-800: #222222;
    --gray-900: #000000;
    --gray-950: #000000;

    --selection: hsla(0, 0%, 100%, 0.077);
    --border: hsla(0, 0%, 100%, 0.1);
    --spinner-color: rgba(255, 255, 255, 65);

    --page-background: var(--gray-75);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-600);
    --text-disabled: var(--gray-500);
  }
}

/* -- variable --- */
@layer base {
  :root {
    --lg: 1024px;
    --md: 768px;
    --sm: 640px;

    --page-top: 128px;
    --page-width: 1072px;
    --content-width: 640px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }

  @media (max-width: var(--lg)) {
    :root {
      --page-top: 128px;
    }
  }

  @media (max-width: 768px) {
    :root {
      --page-top: 96px;
      --body-margin-left: max(16px, env(safe-area-inset-left));
      --body-margin-right: max(16px, env(safe-area-inset-right));
    }
  }
}

@layer components {
  .link {
    @apply underline decoration-gray-300 underline-offset-4 transition-all hover:text-gray-800;
  }

  .selection {
    @apply rounded bg-[rgba(0,0,0,0.05)] transition-colors;
  }

  .blur-layer {
    --h: min(96px, var(--page-top));
    position: fixed;
    z-index: 1;
    top: 0;
    width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
    height: var(--h);
    margin-bottom: calc(-1 * var(--h));
    margin-left: calc(-1 * var(--body-margin-left));
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, #000000 25%, transparent);
    opacity: 0.95;
    pointer-events: none;
    user-select: none;
  }

  .blur-layer:after {
    position: absolute;
    background: linear-gradient(to bottom, var(--page-background), transparent);
    content: '';
    inset: 0;
  }
}

html,
body,
#__next {
  min-height: 100%;
}

body {
  font-family: var(--font-sans);
  color: var(--text-second);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  padding-top: var(--page-top);
  padding-bottom: var(--page-top);
}

* {
  /* MW touch highlight 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  @apply bg-neutral-400/30;
}

.dark ::selection {
  @apply bg-neutral-500/30;
}

.medium-zoom-overlay {
  background-color: transparent !important;
  backdrop-filter: blur(10px) !important;
  transition: all 0.3s ease-in-out !important;
}

.medium-zoom-image {
  border-radius: 12px;
}

/* animate intro stage */
@media (prefers-reduced-motion: no-preference) {
  @keyframes intro-stage {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  [data-animate] > * {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: intro-stage 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start));
  }
  [data-animate-speed='slow'] > * {
    --delay: 100ms;
  }
  [data-animate-speed='fast'] > * {
    --delay: 25ms;
  }
}

[data-animate] > *:nth-child(1) {
  --lv: 1;
}
[data-animate] > *:nth-child(2) {
  --lv: 2;
}
[data-animate] > *:nth-child(3) {
  --lv: 3;
}
[data-animate] > *:nth-child(4) {
  --lv: 4;
}
[data-animate] > *:nth-child(5) {
  --lv: 5;
}
[data-animate] > *:nth-child(6) {
  --lv: 6;
}
[data-animate] > *:nth-child(7) {
  --lv: 7;
}
[data-animate] > *:nth-child(8) {
  --lv: 8;
}
[data-animate] > *:nth-child(9) {
  --lv: 9;
}
[data-animate] > *:nth-child(10) {
  --lv: 10;
}
[data-animate] > *:nth-child(11) {
  --lv: 11;
}
[data-animate] > *:nth-child(12) {
  --lv: 12;
}
[data-animate] > *:nth-child(13) {
  --lv: 13;
}
[data-animate] > *:nth-child(14) {
  --lv: 14;
}
[data-animate] > *:nth-child(15) {
  --lv: 15;
}
[data-animate] > *:nth-child(16) {
  --lv: 16;
}
[data-animate] > *:nth-child(17) {
  --lv: 17;
}
[data-animate] > *:nth-child(18) {
  --lv: 18;
}
[data-animate] > *:nth-child(19) {
  --lv: 19;
}
[data-animate] > *:nth-child(20) {
  --lv: 20;
}
